@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
    font-weight: bold;
    user-select: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;    
}
.container {
    display: flex;
    height: 30rem;
    width: 17rem;
    border-radius: 1rem;
    /* overflow: hidden; */
}
.box {
    height: 100%;
    width: 100%;
}
.game {
    display: flex;
    flex-direction: column;   
    transition: position 1s 0s ease-in-out;
}
.menu {
    height: 1rem;
    width: 100%;
    margin: 0;
    background-color: #3f3f37;
    padding:0.2rem;
    padding-right: 0.4rem;
    display: flex;
    align-items: center;
}
.preview {
    height: 40%;
    width: 100%;
    /* background-color: #416788; */
    background-color: #303233;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
}
.square {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: .5rem; */
    color: white;
}
.guess , .guessed {
    /* background-color: #11312A; */
    border:white solid 0.05rem;
    user-select: none;
}
.estimate, .estimated {
    background-color: rgb(105, 102, 102);
    /* border:lightgray solid 0.05rem; */
}
.keyboard {
    height: 60%;
    width: 100%;
    background-color: #303233;
    
    /* background-color: #16344d; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* return 4 to 5 if the history button is present */
    grid-template-rows: repeat(5, 1fr);
    gap: 0.1rem;
    padding: 1rem;
}
button {
    /* border-radius: 1rem; */
    background-color: #303233;
    border:white solid 0.05rem;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.3em 1.2em; */
    margin:  0 0.3em 0.3em 0;
    /* border-radius: 2em; */
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* background-color: #4eb5f1; */
    text-align: center;
    transition: all 0.2s;
    font-size: 0.7em;
    font-weight: 1000;
}
button:hover {
    filter: brightness(120%);
    cursor: pointer;
}
.span-3 {
    grid-column: span 3;
}
svg{
    height: 0.5rem;
}
.history {
    padding: 1rem;
    /* background-color: #244969; */
    background-color: rgb(105, 102, 102);

    overflow: none;
    transition: position 1s 0s ease-in-out;

    
}
#board-container {
    height: 93%;
    width: 100%;  
    overflow: auto;
}
#board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;
    row-gap: 0.2rem;
    column-gap: 0.2rem;
    /* background-color: #244969; */
    background-color: rgb(105, 102, 102);

    /* padding: 1rem; */
}
.history-square {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: .5rem; */
}
.red {
    background-color: #CD2527; 
    padding: 0.1rem;
    
}
.green {
    background-color: #43CD43;
    padding: 0.1rem;
}
.cat5, .cat6 {
    background-color: #303233;
    border: none;
    
}

.span-6 {
    width: 100%;
    aspect-ratio: 7/1;
    
}
.history.active {

    position: fixed;
    top: -100%;
    display: none;
    
}

.game.active {

    position: fixed;
    top: -100%;
    
    display: none;
}

.restart {
    height: 100%;
}
.bi {
    width: 250%;
}

@media screen and (max-width:600px) {
    html{
        height: 100vh;
        width: 100vw;
    }
    
    .container {
        height: 100vh;
        width: 100vh;
        
    }
    .menu{
        height: 2rem;
    }
}

@media screen and (max-height:47rem) {
    .container {
        height: 100vh;
    }
}
